.comic-strips__full-item-wrapper {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  z-index: 5;

  background-color: rgba(0, 0, 0, 0.3);
}

@media handheld, only screen and (max-width: 767px) {
  .comic-strips__full-item-wrapper {
    font-size: 12px;
  }
}

.comic-strips__full-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  width: 80%;
  height: 95%;

  padding: 15px;

  background-color: white;
  border-radius: 5%;
  box-sizing: border-box;
}

.comic-strips__full-item-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 24px;
  height: 24px;

  font-size: 0;

  opacity: 0.5;

  background-color: transparent;
  background-image: url("./close-button.svg");
  border: none;
  cursor: pointer;
}

.comic-strips__full-item-close:hover {
  opacity: 1;
}

.comic-strips__full-item-info-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
}

.comic-strips__full-item-info--title {
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.comic-strips__full-item-pic-wrapper {
  display: flex;
  max-height: 70%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
}

.comic-strips__full-item-pic {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
